<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated course -->
      <package
            uri="platform:/plugin/assignment1/model/course.ecore"
            class="course.CoursePackage"
            genModel="model/course.genmodel"/>
   </extension>

</plugin>
